.head-text{
    font-weight: 500;
    line-height: 36px;
    size: 24px;
    margin-top: 25px;
}
.head-line{
    background-color: white;
    height: 75px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.end-button{
    height: 70px;
    border-radius: 10px;
    line-height: 10px;
    background-color:rgb(51, 43, 43);
    display: flex;
    justify-content: space-between;
}
.download{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 4px;
    margin: auto;
    padding: auto;
}

.search-field{
    width: 440px;
    height: 36px;
    margin-left: -8px;
    background-color: white;
    margin-top: 25px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.search-field-text{
    color: #6A707E;
}
.search-field-bar{
    background-color: #FAFAFA;
    border: 0;
}