.pie-chart-upper-text{
    background-color:white;
    border-radius: 10px;
    padding: 10px 20px;
}

.announcement{
    background-color: white;
    height: 400px;
    padding-top: 5px;
}
.announcement h4{
    color: #1B2559;
}
.last-div{
    width: 390px;
    background-color: white;
    height: 380px;
}

.courses{
    color: #1B2559;
}

.fas{
    background-color: #b4bde981;
    padding: 10px;
    border-radius: 20px;
}